@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&family=Orbitron:wght@400..900&display=swap");

* {
  font-family: "Orbitron";
  font-weight: 800;
}

body {
  margin: 0;
  overflow: hidden;
  background: black;
}

#gameCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#dashboard {
  position: fixed;
  top: 20px;
  left: 20px;
  color: #aaa;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border: 1px solid currentColor;
  border-radius: 5px;
  font-size: 14px;
  min-width: 150px;
  box-shadow: 0 0 30px #000;
}

#dashboard div {
  margin: 5px 0;
  display: flex;
}

#dashboard div span {
  margin-left: auto;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000a;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 30px #000;
}

.modal button {
  border-radius: 10px;
}

.modal button:focus-visible {
  outline: none;
  box-shadow: inset 0 0 5px 2px currentColor;
}

.hidden {
  visibility: hidden;
}

.modal-content {
  font-size: 18px;
  text-wrap-style: balance;
}

#modal.success {
  color: lime;
  border: 1px solid currentColor;
}

#modal.failure {
  color: red;
  border: 1px solid currentColor;
}

#tryAgain {
  background: transparent;
  border: 1px solid currentColor;
  color: inherit;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;
}

#tryAgain:hover {
  background: color-mix(in srgb, currentColor, transparent 80%);
}

#countdown {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000a;
  color: white;
  font-size: 100px;
}
